@if (tasks.length) {
<ion-list>
  @for (task of tasks;track task) {
  <ion-item *ngIf="task" [routerLink]="'/task/' + task.id" [detail]="false">
    <!-- <div slot="start" [class]="!task.read ? 'dot dot-unread' : 'dot'"></div> -->
    <ion-checkbox
      aria-label="complete-task"
      [checked]="task.complete"
      (click)="onCompleteTask($event, task)"
    ></ion-checkbox>
    <ion-label class="ion-text-wrap">
      <h1>
        {{ task.name }}
        <span class="date">
          <ion-note>{{ task.date | date : "dd/MM/yyyy" }}</ion-note>
          <ion-icon
            aria-hidden="true"
            name="chevron-forward"
            size="small"
            *ngIf="isIos()"
          ></ion-icon>
        </span>
      </h1>
      <p>
        {{ task.description }}
      </p>
    </ion-label>
  </ion-item>
  }
</ion-list>
} @else {
<ion-text color="primary">
  <h1>Create your first task</h1>
</ion-text>
}
