<ion-list>
  <ion-item>
    <ion-select
      aria-label="Classification"
      placeholder="By classification"
      (ionChange)="onSelectClassification($event)"
      [interfaceOptions]="{
        subHeader: classifications.length ? '' : 'Not classifications yet',
        translucent: true,
      }"
      [multiple]="true"
    >
      <div slot="label">
        <ion-icon name="pricetag-outline" size="large"></ion-icon>
      </div>
      @for (classification of classifications; track classifications) {
      <ion-select-option [value]="classification">{{
        classification.name
      }}</ion-select-option>
      }
    </ion-select>
  </ion-item>
</ion-list>
