<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        [text]="getBackButtonText()"
      ></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button id="open-action-sheet"
        ><ion-icon name="ellipsis-horizontal-outline"></ion-icon
      ></ion-button>
      <ion-action-sheet
        trigger="open-action-sheet"
        header="Actions"
        (willDismiss)="onAction($event)"
        [buttons]="actionSheetButtons"
      ></ion-action-sheet>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="task">
  <ion-item>
    <ion-checkbox
      aria-label="complete-task"
      [checked]="task.complete"
      (click)="onCompleteTask()"
    ></ion-checkbox>
    <ion-label class="ion-text-wrap">
      <h2>
        {{ task.name }}
        <span class="date">
          <ion-note>{{ task.date | date: 'dd/MM/yyyy' }}</ion-note>
        </span>
      </h2>
    </ion-label>
  </ion-item>

  <div class="ion-padding">
    <p>{{ task.description }}</p>
  </div>
</ion-content>
