<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Tasks </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"> Tasks </ion-title>
    </ion-toolbar>
  </ion-header>

  @if (tasks.length) {
    <ion-list>
      <app-task *ngFor="let task of tasks" [task]="task"></app-task>
    </ion-list>
  }
  @else {
    <h1>Not tasks jet</h1>
  }

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button expand="block">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button id="open-add-classification">
        <ion-icon name="pricetag-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button id="open-add-task">
        <ion-icon name="checkbox-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <app-create-task></app-create-task>
  <app-create-classification></app-create-classification>
</ion-content>
